<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HOME</title>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema Escolar</h1>
    </header>
    <main>
        <section class="buttons">
            <a href="#">Boletim</a>
            <a href="#">Calendário Escolar</a>
            <a href="#">Tarefas</a>
            <a href="#">Avisos</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Sistema Escolar. Todos os direitos reservados.</p>
    </footer>
</body>
</html>